
{% extends "base.html" %}

{% block title %}Update Member{% endblock %}

{% block content %}




{% if member %}
<div class="text-center">
    <img src="{{ member.profile_image.url }}" alt="Profile" class="h-36 w-36 rounded-full mx-auto border border-pink-200">

    <h2 class="text-xl font-bold text-gray-700 mb-2">Welcome, {{ member.first_name }} {{ member.last_name }}</h2>
    <strong><p class="text-gray-600"><strong>ID Card:</strong> {{ member.id_card }}</p></strong>

{% if member.expiry < today_date %}
    <span style="color:red"><p><strong>Expiry Date:</strong> {{ member.expiry }}</p></span>
{% else %}
    <span style="color:green"><p><strong>Expiry Date:</strong> {{ member.expiry }}</p></span>
{% endif %}

</div>
{% endif %}


{% endblock %}
