{% extends "base.html" %}

{% block title %}Classes{% endblock %}

{% block content %}



<div class="main-content p-8 bg-pink-50">
    <div class="overflow-auto max-h-96 border border-gray-400 rounded-md shadow-md">
        <table class="table-auto border-collapse w-full text-left">
            <thead class="bg-pink-100 sticky top-0">
            <tr>
                <th class="border border-gray-400  text-pink-800 font-medium text-left">ID CARD</th>
                <th class="border border-gray-400 text-pink-800 font-medium text-left">Expiry</th>
                <th class="border border-gray-400 text-pink-800 font-medium text-left">Name</th>
                <th class="border border-gray-400 text-pink-800 font-medium text-left">Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr class="hover:bg-gray-100">
                <td class="border border-gray-400 px-4 py-2 text-pink-800 font-medium text-left">{{ member.id_card }}</td>
                <td class="border border-gray-400 px-4 py-2 text-pink-800 font-medium text-left">{{ member.expiry }}</td>
                <td class="border border-gray-400 px-4 py-2 text-pink-800 font-medium text-left">{{ member.first_name }} {{ member.last_name }}</td>
                <td class="border border-gray-400 px-4 py-2 text-pink-800 font-medium text-left">{{ member.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}
