
{% extends "base.html" %}

{% block title %}Classes{% endblock %}

{% block content %}

<style>
    .information_detail {
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        text-align: center; 
        min-height: 200px; 
        margin: 0 auto; 
    }
</style>



<div class="information_detail"> <!-- this will show the member details after login-->
    <h1>Member Login</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

        <!-- Error messages -->
        {% if form.errors %}
        <div class="error-message">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}


    {% if member %}
        <div class="information_detail">
            <h1>Welcome, {{ member.first_name }} {{ member.last_name }}</h1>
            <p><strong>ID Card:</strong> {{ member.id_card }}</p>
            <p><strong>Expiry Date:</strong> {{ member.expiry }}</p>
        
        </div>
    {% endif %}

</div>

<form method="post"  enctype="multipart/form-data" style="max-width: 500px; margin: 0 auto; background: pink; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    {% csrf_token %}
    
    <!-- ID Card -->
    <!-- Expiry -->
    <div style="margin-bottom: 15px;">
        <label for="expiry" style="display: block; font-size: 14px; font-weight: 500; color: #374151;">Expiration Date:</label>
        <input 
            type="date" 
            id="expiry" 
            name="expiry" 
            value="{{ form.expiry.value|default:'' }}" 
            style="width: 100%; padding: 10px; border: 1px solid #d1d5db; border-radius: 5px; font-size: 14px; color:black;"
        >
    </div>


     <!-- Profile Image -->
     <div style="margin-bottom: 15px;">
        <label for="profile_image" style="display: block; font-size: 14px; font-weight: 500; color: #374151;">Profile Image:</label>
        <input 
            type="file" 
            id="profile_image" 
            name="profile_image" 
            style="width: 100%; padding: 10px; border: 1px solid #d1d5db; border-radius: 5px; font-size: 14px; color:black;"
            accept="media/image/*"
        >
    </div>

    <!-- Submit Button -->
    <div>
        <input 
            type="submit" 
            value="Submit" 
            style="width: 100%; padding: 10px; background: #3b82f6; color: #fff; font-size: 16px; font-weight: bold; border: none; border-radius: 5px; cursor: pointer; text-align: center;"
        >
    </div>

</form>

{% endblock %}

</body>
</html>